/* Add this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.montserrat-regular {
    font-family: 'Montserrat', sans-serif;
  }
  
  .montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }


 /* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #ececec;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make sidebar full-height */
  color: #333; /* Changed text color for better contrast */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Add slight shadow for better visibility */
  position: relative; /* Ensure it does not overlap other content by default */
  top: 0;
  left: 0;
  transform: translateX(0); /* Visible by default on larger screens */
  transition: transform 0.3s ease;
  z-index: 1; /* Ensure sidebar is above other content but below overlay */
}

/* Sidebar Drawer for Mobile */
@media (max-width: 768px) {
  .sidebar {
    position: fixed; /* Fixed position for drawer behavior on mobile */
    transform: translateX(-100%); /* Hide off-screen */
    width: 80%; /* Adjust width as needed for mobile */
    height: 100vh; /* Full height on mobile */
    z-index: 1000; /* Ensure it appears above all other content */
  }

  .sidebar.open {
    transform: translateX(0); /* Show when open */
  }

  /* Toggle button styles */
  .sidebar-toggle {
    display: block; /* Show toggle button on small screens */
    position: fixed;
    top: 20px;
    left: 20px;
    background: #FF6B2B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001; /* Make sure the button is above the sidebar */
  }

  /* Adjust sidebar items for mobile view */
  .sidebar-item {
    font-size: 16px;
    padding: 12px;
  }
}

/* Hide toggle button on larger screens */
@media (min-width: 769px) {
  .sidebar-toggle {
    display: none;
  }
}

.sidebar-logo {
  text-align: center;
}

.sidebar-logo img {
  height: 3rem; /* Adjust the logo size */
  margin-bottom: 1rem; /* Space between the logo and the items */
}

/* Divider */
.sidebar-divider {
  border-bottom: 1px solid #5d5d5d95;
  margin-bottom: 1rem;
}

/* Sidebar Items */
.sidebar-item {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #909090;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform for subtle hover effect */
}

.sidebar-item a {
  color: white; /* Keep text white */
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.sidebar-item:hover {
  background-color: #555; /* Darker gray on hover */
  transform: translateX(5px); /* Slight movement on hover */
}

.sidebar-item.active {
  background-color: #FF6B2B; /* Active state with the orange color */
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: inherit; /* This will make the text color match the sidebar text color */
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.logout-button svg {
  margin-right: 10px;
}

/*App.jsx*/
  .app-container {
    display: flex;
    height: auto;
    
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
    background-color: #f1f1f1;
    overflow-y: auto;
  }

  /* CMS Dashboard Styling */
.cms-home {
  padding: 15px;
  background-color: #f4f4f4;
  
}

.cms-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.cms-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.cms-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cms-box-title {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.cms-box p{
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.cms-button {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #FF6B2B;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s;
}



.edit-button {
  background-color: #1468A1;
  color: white;
  margin-right: 8px;
}

.edit-button:hover {
  background-color: #115380;
}

.delete-button {
  background-color: #FF6B2B;
  color: white;
}

.delete-button:hover {
  background-color: #d05b25;
}


/* Banner Management styles */
.cms-banner-container {
  padding: 20px;
}

.cms-banner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cms-banner-title {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

@media (max-width: 768px){
  .cms-banner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
  }
}

.cms-add-button {
  background-color: #1468A1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.cms-add-button:hover {
  background-color: #115380;
}

.cms-banner-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.cms-banner-box {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.cms-banner-preview {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.cms-banner-details {
  margin-top: 10px;
}

.cms-banner-index, .cms-banner-alt, .cms-banner-link, .cms-banner-mode {
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.cms-banner-loading, .cms-banner-error {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}



/*Banner Modal*/
/* Modal Overlay */
.cms-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Allow the modal itself to scroll if needed */
}

/* Modal Content */
.cms-modal-content {
  background: white;
  width: 90%;
  max-width: 500px;
  max-height: calc(100vh - 40px); /* Full viewport height minus margin */
  overflow-y: auto; /* Enable vertical scrolling */
  margin: 20px 0; /* Margin on top and bottom */
  padding:10px 40px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  position: relative;
}


@media (max-width: 768px){
  .cms-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Allow the modal itself to scroll if needed */
  }
  
  /* Modal Content */
  .cms-modal-content {
    background: white;
    width: 90%;
    max-width: 500px;
    max-height: calc(100vh - 40px); /* Full viewport height minus margin */
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 20px 15px; /* Margin on top and bottom */
    padding:10px 40px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    position: relative;
  }
  
  
}

.cms-modal-content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

.cms-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; /* Space between inputs */
  border: 1px solid #ccc; /* Light border around inputs */
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.cms-input:focus {
  border-color: #999; /* Slightly darker border on focus */
  outline: none;
}

.cms-upload-button {
  background-color: #FF6B2B; /* Matching button color */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: 100%; /* Button takes full width */
}

.cms-upload-button:hover {
  background-color: #d05b25; /* Darker on hover */
}

.cms-close-button {
  background-color: transparent;
  color: #FF6B2B; /* Matching the primary button color */
  padding: 12px;
  border: 2px solid #FF6B2B;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: 100%; /* Button takes full width */
  margin-bottom: 25px;
}

.cms-close-button:hover {
  background-color: #dcdcdc; /* Button becomes solid on hover */
  ;
}

.cms-banner-preview {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 15px; /* Space between the image and other elements */
}

.cms-bannerimg-preview{
  width: 50%;
  margin-bottom: 5px;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.cms-action-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Smooth transition effect */
}

.cms-action-button:hover {
  transform: scale(1.1); /* Enlarge the button slightly */
}


.cms-action-icon {
  width: 20px;
  height: 20px;
}

.cms-banner-actions {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.cms-modal-content h2 {
  margin-bottom: 20px;
}

.cms-input {
  margin-bottom: 10px;
  width: 100%;
}

.cms-image-preview-form{
  width: 50%;
  margin-bottom: 10px;
}

.add-card-box{
  height: fit-content;
}

.add-card-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-card-button:hover {
  background-color: #0056b3;
}

.cms-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*CMS Confirm Modal*/
.cms-confirm-modal-content {
  background: white;
  width: 100%;
  max-width: 380px;
  max-height: calc(100vh - 40px); /* Full viewport height minus margin */
  overflow-y: auto; /* Enable vertical scrolling */
  margin: 20px 0; /* Margin on top and bottom */
  padding: 15px 20px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align items horizontally */
}

.cms-confirm-modal-content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: #333;
  margin-bottom: 15px;
}

.cms-confirm-modal-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  margin-bottom: 15px;
}


/* Button Container */
.cms-button-container {
  display: flex;
  justify-content: center; /* Center-align buttons horizontally */
  gap: 10px; /* Space between buttons */
  margin-top: 20px; /* Space above the buttons */
}

/* Button Styles */
.cms-yes-button, .cms-no-button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s;
}

.cms-yes-button {
  background-color: #FF6B2B; /* Matching button color */
  color: white;
}

.cms-yes-button:hover {
  background-color: #d05b25; /* Darker on hover */
}

.cms-no-button {
  background-color: #ccc;
  color: black;
}

.cms-no-button:hover {
  background-color: #999; /* Darker on hover */
}

/*CMS Home Clients*/
.cms-client-preview {
  width: 50%;
}

/*CMS Home Testimonials*/
.cms-testimonial-preview {
  width: 50%;
}

/*Service Page CMS*/

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.service-btn {
  background-color: white;
  border: 2px solid #e0e0e0;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.1s ease;
  cursor: pointer;
}

.service-btn i {
  font-size: 18px;
}

/* For the active button */
.service-btn.active {
  background-color: #007bff;
  color: white;
}

.service-btn.active i {
  color: white;
}

/* Hover effect */
.service-btn:hover {
  background-color: #007bff;
  color: white;
}

/* Icon classes - you can use FontAwesome or another icon library for the actual icons */
.icon {
  background-size: contain;
}

.design-icon {
  background-image: url('/path-to-your-icons/design-icon.png');
}

.install-icon {
  background-image: url('/path-to-your-icons/install-icon.png');
}

.panel-icon {
  background-image: url('/path-to-your-icons/panel-icon.png');
}

.approval-icon {
  background-image: url('/path-to-your-icons/approval-icon.png');
}

.repair-icon {
  background-image: url('/path-to-your-icons/repair-icon.png');
}

.value-icon {
  background-image: url('/path-to-your-icons/value-icon.png');
}

/*Login Page CSS*/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  display: flex;
  flex-direction: row;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
}

.login-left {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-image {
  width: 600px;
}

.login-heading {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.login-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.login-form-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-google-signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #153363;
  color: white;
  padding: 0.75rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  margin-bottom: 1rem; /* Space below the button */
}

.login-google-logo {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.login-separator-text {
  text-align: center;
  margin: 1rem 0;
}

.login-form-group {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 300px; /* Adjust as needed */
}

.login-form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form-input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}



.login-password-toggle {
  cursor: pointer;
  margin-left: 0.5rem;
}

.login-form-agreement {
  margin: 1rem 0;
  width: 100%;
  max-width: 300px; /* Adjust as needed */
}

.login-form-checkbox {
  margin-right: 0.5rem;
}

.login-agreement-text {
  font-size: 0.875rem;
}

.login-text-link {
  color: #007bff;
}

.login-signin-btn {
  width: 100%;
  padding: 0.75rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-forgot-password, .login-register-link {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  max-width: 300px; /* Adjust as needed */
}


/*About Us stats cards*/
.statistics-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 35px;
}

.stat-card {
  text-align: left;
  margin: 0 25px;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  flex: none;
}

.stat-number {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.stat-description {
  font-size: 16px;
  margin: 0;
  color: #333;
}

@media (max-width: 768px) {
  .statistics-container {
    margin-left: -10px;
  }

  .stat-card {
    margin: 0 10px 10px;
    padding: 10px;
    flex: 1 0 45%;
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  .stat-description {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .stat-card {
    flex: 1 0 100%;
    margin: 0 5px 10px;
  }
}
